body {
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 2px;
	background-color:#EFEFEF;
	color: black;
	margin:0;
}

.smedia {
	margin-top: 20px;
	padding: 0;
	list-style: none;
}

.smedia li {
	display: inline;
}

.nav {
	z-index:10;
	border-bottom: 1px solid #888;
	position:fixed;
	width:100%;
	text-align: center;
	font-size: 24px;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #EFEFEF;
}

.nav li {
	display: inline;
}

.nav a {
	text-decoration: none;
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 15px;
	padding-right: 20px;
	padding-left: 20px;
	color: #045184;
}

.nav a:hover {
	color: #3588CC;
}

#contact {
	padding-bottom: 200px;
}
.contact_profile {
	max-height: 200px;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: auto;
	text-align: left;
}

.contact_profile p{
	max-height: 220px;
	margin-left: 200px;
	vertical-align: 50%;
}

img.profile_picture{
	border-radius: 50%;
	width: 220px;
	height: 220px;
	float: left;
	padding-right: 20px;
}

#home {
	width: 750px;
	height: 430px;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 80px;
}

.home_logo {
	display: block;
	padding-top: 80px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 0px;
	float: left;
}

.home_container_text {
	overflow: hidden;
	padding-top: 80px;
	text-align: center;
}

.home_container_text1 {
	padding-bottom: 20px;
}
.home_container_text2 {
	padding-top: 10px;
}

.home_container_text2_1 {
	padding-bottom: 20px;
}

#photobanner_container {
	width:100%;
	overflow: hidden;
}

.photobanner {
	height: 500px;
	width: 3550px;
	font-size: 0;
}

#sponsors {
	padding-top: 40px;
	width: 100%;
}

#about {
	background-color: #1D86C8;
	padding-top: 60px;
	padding-bottom: 60px;
	color: white;
}

#home_about_text {
	max-width:700px;
	margin-left: auto;
	margin-right: auto;
}

#faq {
	padding-top: 60px;
	padding-bottom: 60px;
	color: black;
}

#home_faq_text {
	max-width:700px;
	margin-left: auto;
	margin-right: auto;
}

.reg {
	font-size:20px;
	line-height:50px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	height:50px;
	width:150px;
	background-color:#1D86C8;
}

.home_sponsors_logos {
	width: 800px;
	padding-top: 10px;
	margin: auto;
}

.home_sponsors_logos_nibble {
	height: 150px;
	text-align: center;
	white-space: nowrap;
}

.home_sponsors_logos_byte {
	height: 200px;
	text-align: center;
	white-space: nowrap;
}

.home_sponsors_logos_partner {
	height: 130px;
	text-align: center;
	white-space: nowrap;
}

.nibble_logo {
	vertical-align: middle;
	width:210px;
	margin-left: 20px;
	margin-right: 20px;
}

.byte_logo {
	vertical-align: middle;
	width:320px;
	margin-left: 20px;
	margin-right: 20px;
}

.partner_logo {
	vertical-align: middle;
	width:130px;
	margin-left: 20px;
	margin-right: 20px;
}

.smlogo {
	width: 30px;
	height: 30px;
	margin-left: 10px;
	margin-right: 10px;
}

.helper {
	display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.footer {
	color:black;
	height: 165px;
	text-align:center;
	background-color: #1D86C8;
	margin-top:0;
}

.copyr {
	padding-top: 20px;
	margin-bottom: 30px;
}

.faq_q {
	color:#095790;
	margin-top:8px;
}

.box a {
	text-decoration: none;
}

h1 {
	padding-top: 8px;
	padding-bottom: 8px;
	letter-spacing: 10px;
	font-size: 72px;
	margin: 0;
}

h2 {
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 30px;
	margin: 0;
}

h3 {
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 20px;
	margin-top: 0px;
}

h4 {
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 18px;
	margin: 0px;
}

h5 {
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 40px;
	margin: 0px;
}

div.box {
	font-size: 20px;
	text-align: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.img-hover {
	opacity: 0.7;
}

.img-hover:hover {
	opacity: 1.0;
}

.first {
	-webkit-animation: bannermove 120s linear infinite;
    -moz-animation: bannermove 120s linear infinite;
    -ms-animation: bannermove 120s linear infinite;
    -o-animation: bannermove 120s linear infinite;
    animation: bannermove 120s linear infinite;
}

@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -5566px;
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -5566px;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -5566px;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -5566px;
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -5566px;
 }
 
}
