body {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 2px;
	background-color:#E3E8EF;
	color: black;
	margin:0;
}

.smedia {
	margin-top: 20px;
	padding: 0;
	list-style: none;
}

.smedia li {
	display: inline;
}

.nav {
	z-index:10;
	border-bottom: 1px solid #888;
	position:fixed;
	width:100%;
	text-align: center;
	font-size: 24px;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #E3E8EF;
}

.nav li {
	display: inline;
}

.nav a {
	text-decoration: none;
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 15px;
	padding-right: 20px;
	padding-left: 20px;
	color: #53595A;
}

.nav a:hover {
	color: #1371AC;
}

#home {
	height: 100vh;
}

#home_logo {
	height: 90vh;
	margin-right: 0px;
	margin-top: 63px;
	margin-bottom: auto;
	float: left;
}

.home_container_text {
	height: 430px;
	margin-right: 0px;
	overflow: hidden;
	text-align: left;
	padding-top: calc(50vh - 235px);
	padding-bottom: calc(50vh - 195px);
}

#cwru {
	margin-bottom: 10px;
}

.home_container_text2 {
	padding-left: 5px;
}

.home_container_text2_1 {
	padding-bottom: 10px;
}

#photobanner_container {
	width:100%;
	overflow: hidden;
}

.photobanner {
	height: 500px;
	width: 3550px;
	font-size: 0;
}

#sponsors {
	padding-top: 40px;
	width: 100%;
}

#about {
	background-color: #0F5D8D;
	padding-top: 60px;
	padding-bottom: 60px;
	color: white;
}

#home_about_text {
	max-width:700px;
	margin-left: auto;
	margin-right: auto;
}

#schedule {
    padding-top: 60px;
    padding-bottom: 60px;
}

#home_schedule_text {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#home_schedule_text ul {
    list-style: none;
}

#faq {
	padding-top: 60px;
	padding-bottom: 60px;
	color: black;
}

#home_faq_text {
	max-width:700px;
	margin-left: auto;
	margin-right: auto;
}

.reg {
	font-size:20px;
	line-height:50px;
	text-align:center;
	height:50px;
	width:150px;
	background-color:#0F5D8D;
}

.home_sponsors_logos {
	width: 800px;
	padding-top: 10px;
	margin: auto;
}

.home_sponsors_logos_nibble {
	height: 125px;
	text-align: center;
	white-space: nowrap;
}

.home_sponsors_logos_word {
	height: 200px;
	text-align: center;
	white-space: nowrap;
}

.home_sponsors_logos_cohost {
	height: 300px;
	text-align: center;
	white-space: nowrap;
}

.home_sponsors_logos_byte {
	height: 200px;
	text-align: center;
	white-space: nowrap;
}

.home_sponsors_logos_partner {
	height: 120px;
	text-align: center;
	white-space: nowrap;
}

.nibble_logo {
	vertical-align: middle;
	width:210px;
	margin-left: 20px;
	margin-right: 20px;
}

.byte_logo {
	vertical-align: middle;
	width:320px;
	margin-left: 20px;
	margin-right: 20px;
}

.cohost_logo {
	vertical-align: middle;
	width:700px;
	margin-left: 20px;
	margin-right: 20px;
}

.word_logo {
	vertical-align: middle;
	width:500px;
	margin-left: 20px;
	margin-right: 20px;
}

.partner_logo {
	vertical-align: middle;
	width:130px;
	margin-left: 20px;
	margin-right: 20px;
}

.smlogo {
	width: 30px;
	height: 30px;
	margin-left: 10px;
	margin-right: 10px;
}

.helper {
	display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.footer {
	color:black;
	height: 165px;
	text-align:center;
	background-color: #0F5D8D;
	margin-top:0;
}

.copyr {
	padding-top: 20px;
	margin-bottom: 30px;
}

.faq_q {
	color:#1371AC;
	margin-top:8px;
}

.box a {
	text-decoration: none;
}

h1 {
	padding-top: 8px;
	padding-bottom: 8px;
	letter-spacing: 10px;
	font-size: 72px;
	margin: 0;
}

h2 {
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 30px;
	margin: 0;
}

h3 {
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 20px;
	margin-top: 0px;
}

h4 {
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 18px;
	margin: 0px;
}

h5 {
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 40px;
	margin: 0px;
}

div.box {
	font-size: 20px;
	text-align: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.img-hover {
	opacity: 0.7;
}

.img-hover:hover {
	opacity: 1.0;
}

.first {
	-webkit-animation: bannermove 120s linear infinite;
    -moz-animation: bannermove 120s linear infinite;
    -ms-animation: bannermove 120s linear infinite;
    -o-animation: bannermove 120s linear infinite;
    animation: bannermove 120s linear infinite;
}

.not-active {
    pointer-events: none;
    cursor: default;
    background-color:#AFB9BC;
}

.mlh_link {
	text-decoration: none;
	color:#023251;
}

.email_link {
	color:#023251;
}

@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -5566px;
 }

}

@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -5566px;
 }

}

@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -5566px;
 }

}

@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -5566px;
 }

}

@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -5566px;
 }

}
